body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}

p {
    direction: rtl;
}

.rtl {
    direction: rtl;
}

.w3-col {
  float: right;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("../img/stage.jpg");
    min-height: 30%;
}

.img-list {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bgHeader {
    min-height: 10%;
}

.mainTitle {
  color: #ffe43c;
  font-size:90px;
  margin-right:20px;
}

.secondaryTitle {
  color: black;
  font-size:40px;
  margin-right:20px;
}

.menu {
  display: none;
}

.mySlides {
  display:none
}

.w3-left, .w3-right, .w3-badge {
  cursor:pointer
}

.w3-badge {
  height:13px;
  width:13px;
  padding:0
}
