body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}

p {
    direction: rtl;
}

.rtl {
    direction: rtl;
}

.w3-col {
  float: right;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("../img/stage.jpg");
    min-height: 75%;
}

.menu {
  display: none;
}

.mySlides {
  display:none
}

.w3-left, .w3-right, .w3-badge {
  cursor:pointer
}

.w3-badge {
  height:13px;
  width:13px;
  padding:0
}
